/* 
WOO CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles here instead of style.css so it 
is easier to update the theme. Simply copy an existing 
style from style.css to this file, and modify it to 
your liking.

*/


#header {
  height: 80px;
  padding: 10px 0;
}

#nav {
  margin-top: 30px;
  margin-right: 315px;
}

#loopedSlider {
  padding: 40px 0 20px;
}

#main h2 {
  padding-top: 10px;
}

#main h3 {
  font-size: 24px;
}

/* Custom blog formatting on homepage */

.widget_woo_openblocknews {
  position: relative;
}

.widget_woo_openblocknews .rss {
  position: absolute;
  top: 0;
  right: 0;
}

.widget_woo_openblocknews h3 {
  margin-bottom: 15px;
}

.widget_woo_openblocknews .item {
  margin-bottom: 20px;
}

.widget_woo_openblocknews .item .post-meta {
  color: #999;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 12px !important;  
}

.widget_woo_openblocknews .item .title {
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}

.widget_woo_openblocknews .item .descr {

}

#footer {
  text-shadow: 1px 1px 0 #FFFFFF;
}

.selfclear {
  display: block;
}

label.ss-q-title {
  line-height: 150%;
  text-align: left;
}

input.ss-q-short, textarea.ss-q-long {
  margin-bottom: 5px;
  margin-left: 10px;
  width: 250px;
}

textarea.ss-q-long {
  height: 80px;
}


/* Twitter widget tweaks */

#sidebar .widget_woo_twitter, #sidebar .widget_woo_twitter a {
  font-size: 12px;
}

/* News widget */

.widget_woo_openblocknews .item a.title {
   font-weight: bold;
}

.widget_woo_openblocknews .item {
   margin-bottom: 10px;
}

.widget_woo_openblocknews .item p {
   padding: 0;
}


#footer-logos .meta-sep {
    display: none;
    }

#footer-logos a {
 margin: 0 10px 0 0;
}

