/* fresh style - fresh.css */

#top { background:url(fresh/bg-top-tile.gif) repeat-x top left; border-bottom:1px solid #000000; }
#top .content { background:url(fresh/bg-top.png) no-repeat top center; }
#featured { background:#e3e1cc url(fresh/bg-slider-bot.png) repeat-x left bottom; border-top:1px solid #eeede7; border-bottom:1px solid #c7c6bf; }
#nav a { color:#bfbfbf; }
#nav a:hover, #nav li.current_page_item a, #nav li.current_page_parent{ color:#fff; background:#46433c; border:1px solid #2f2c26; border-width: 0 0px 1px 0; }
#featured h2 { color:#222; }