/* ice-green style - ice-green.css */

#top { background:#edf0df; border-bottom:1px solid #a1a398; }
#top .content { background:none; }
#featured { background:#aec143 url(ice-green/bg-slider-bot.png) repeat-x left bottom; border-top:1px solid #cfdb91; border-bottom:1px solid #95a43f; }
#nav a { color:#6c6c6c; }
#nav a:hover, #nav li.current_page_item a, #nav li.current_page_parent{ color:#fff; background:#adc042; border:1px solid #8d9d33; border-width: 0 0px 1px 0; }
#featured h2 { color:#fff; }