/* minimalist style - minimalist.css */

#top { background:#fff; border-bottom:1px solid #dfdfdf; }
#top .content { background:none; }
#featured { background:#fbfbfb; border-top:1px solid #fff; border-bottom:1px solid #dfdedd; }
#nav a { color:#6c6c6c; }
#nav a:hover, #nav li.current_page_item a, #nav li.current_page_parent{ color:#333; background:#f6f6f6; border:1px solid #ccc; border-width: 0 0px 1px 0; }
#featured h2 { color:#333; }
#main-content { background:none; }