/* mint style - mint.css */

#top { background:url(mint/bg-top-tile.gif) repeat-x top left; border-bottom:1px solid #000000; }
#top .content { background:url(mint/bg-top.png) no-repeat top center; }
#featured { background:#a2cdbb url(mint/bg-slider-bot.png) repeat-x left bottom; border-top:1px solid #bad9cc; border-bottom:1px solid #8dafa1; }
#nav a { color:#bfbfbf; }
#nav a:hover, #nav li.current_page_item a, #nav li.current_page_parent{ color:#fff; background:#46433c; border:1px solid #2f2c26; border-width: 0 0px 1px 0; }
